<div class="share--product-icons">
    <div class="share--product-title"><b>Share:</b></div>
    <div class="share--product-links">

        <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ request.path }}" target="_blank"><img src="{{ 'f-share.svg' | asset_url }}"></a>
        <a href="https://pinterest.com/pin/create/button/?url={{ shop.url }}{{ request.path }}&media=&description=" target="_blank"><img src="{{ 'p-share.svg' | asset_url }}"></a>
        <a href="https://twitter.com/intent/tweet?url={{ shop.url }}{{ request.path }}&text=" target="_blank"><img src="{{ 't-share.svg' | asset_url }}"></a>
    </div>
</div>