

<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-inner">
        <div class="logo">
          <a href="/">
            <img src="{{ 'logo.svg' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer-menu__wraper">
        <div class="footer-menu">
          {% for block in section.blocks %}
            <div class="footer-menu__box {% if block.settings.show_mob %} {% else %} d-none d-lg-block {% endif %} ">
              <div class="footer-menu__box-title">{{ block.settings.main_link_title }}</div>
              <div class="footer-menu__box-list">
                <ul class="{% if block.settings.column %} {% else %}columns{% endif %}">
                  {% for link in linklists[block.settings.links].links %}
                      <li><a href="{{ link.url }}" {% if block.settings.new_tab %}target="_blank" {% endif %}>{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>
          <div class="accessibly_block">
            <a href="" class="accessibly_link" style="color:#a60b00;">Accessibility Adjustments</a>
            <svg class="footer-help__icon" width="18" height="20">
              <svg viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#adjustmentsClip)">
                  <path d="M7.3 0C6.25 0 5.4.84 5.4 1.9c0 1.05.85 1.89 1.9 1.89 1.05 0 1.9-.84 1.9-1.9C9.2.84 8.34 0 7.3 0zM6.28 3.9c-1.12 0-1.3.7-1.3 1.26v6.7c0 .56.46 1.05 1.06 1.05l4.77-.03 2.45 3.72c.25.38.56.7 1.06.7.63 0 1.19-.53 1.12-1.12-.04-.25-.07-.5-.25-.7-.73-1.1-2.17-3.48-2.98-4.36-.21-.2-.5-.38-.8-.38H7.46V6.6l2.81 1.93c.42.28.95.17 1.23-.25a.86.86 0 00-.25-1.23s-2.9-2.03-4.38-3.01c-.14-.11-.42-.15-.6-.15zm10.88 1.85a.27.27 0 00-.18.07l-3.5 3.51H8.48c-.14 0-.28.1-.28.28v.1c0 .15.1.29.28.29h5.12c.07 0 .14-.04.21-.07l3.62-3.61c.1-.1.1-.28 0-.39l-.07-.07c-.07-.07-.14-.1-.21-.1zM4.49 7.61A6.27 6.27 0 000 13.65 6.26 6.26 0 0012.1 16l-.94-1.44a4.94 4.94 0 01-4.88 4.04 4.94 4.94 0 01-4.98-4.92c0-2.07 1.3-3.86 3.2-4.6V7.62z" fill="#a60b00"></path>
                </g>
                <defs>
                  <clipPath id="adjustmentsClip">
                    <path fill="#fff" d="M0 0h17.51v20H0z"></path>
                  </clipPath>
                </defs>
              </svg>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-partners">
          <img src="{{ 'partner-img-1.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-2.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-3.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-4.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-5.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-6.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-7.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-8.svg' | asset_url }}" alt="">
        </div>
        <div class="copyright">2021, MarieMur</div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
"name": "Footer menu",
"blocks": [
{
"type": "menu_item",
"name": "Menu item",
"settings": [
{
"id": "main_link_title",
"type": "text",
"label": "Main title"
},
{
"id": "show_mob",
"type": "checkbox",
"label": "Show on mobile"
},{
"id": "column",
"type": "checkbox",
"label": "Show in column"
},{
"id": "new_tab",
"type": "checkbox",
"label": "Open links in new tab"
},
{
"id": "links",
"type": "link_list",
"label": "Link list"
}
]
}
]
}
{% endschema %}
