

<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-inner">
        <div class="logo">
          <a href="/">
            <img src="{{ 'logo.svg' | asset_url }}" alt="">
          </a>
        </div>
        <div class="footer-menu">
          {% for block in section.blocks %}
            <div class="footer-menu__box {% if block.settings.show_mob %} {% else %} d-none d-lg-block {% endif %} ">
              <div class="footer-menu__box-title">{{ block.settings.main_link_title }}</div>
              <div class="footer-menu__box-list">
                <ul class="{% if block.settings.column %} {% else %}columns{% endif %}">
                  {% for link in linklists[block.settings.links].links %}
                      <li><a href="{{ link.url }}" {% if block.settings.new_tab %}target="_blank" {% endif %}>{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-partners">
          <img src="{{ 'partner-img-1.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-2.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-3.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-4.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-5.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-6.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-7.svg' | asset_url }}" alt="">
          <img src="{{ 'partner-img-8.svg' | asset_url }}" alt="">
        </div>
        <div class="copyright">2021, MarieMur</div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
"name": "Footer menu",
"blocks": [
{
"type": "menu_item",
"name": "Menu item",
"settings": [
{
"id": "main_link_title",
"type": "text",
"label": "Main title"
},
{
"id": "show_mob",
"type": "checkbox",
"label": "Show on mobile"
},{
"id": "column",
"type": "checkbox",
"label": "Show in column"
},{
"id": "new_tab",
"type": "checkbox",
"label": "Open links in new tab"
},
{
"id": "links",
"type": "link_list",
"label": "Link list"
}
]
}
]
}
{% endschema %}
