{% assign inCartAmount = 0 %}
{% for item in cart.items  %}
  {% if item.product_id == product.id %}
    {% assign inCartAmount = inCartAmount | plus: item.quantity %}
  {% endif %}
{% endfor %}
{% include 'product-res-variables' %}

<div class="product-content single-product"  {% include 'product-get-attributes' %}>
  {% include 'product-get-page-gallery' %}
  {% form 'product', product, class:'product-sidebar',id:'product-sidebar', novalidate: 'novalidate', data-product-form: '' %}
    <div class="product-title">
      <h1>{{ product.title }}</h1>
    </div>

    <div class="product-price">
      {% if settings.enable_global_upsell contains 'all' %}
        {% include 'product-get-price-discount' with min_price: false %}
      {% else %}
        {% if settings.site_discount != blank and collection.url contains settings.cart_upsell_collection and product.tags contains 'enable_discount' %}
          {% include 'product-get-price-discount' with min_price: false %}
        {% else %}
          <span class="price"><span class="money">{{ product.selected_or_first_available_variant.price | money }}</span></span>
        {% endif %}
      {% endif %}
    </div>
    <div class="product-desc">
      {% if product.metafields.global.short-desc %}
        {{ product.metafields.global.short-desc }}
      {% endif %}
    </div>
    <div class="klarna-container mb-20" style="visibility:hidden; max-height: 1px;margin: 0 0 28px 0;">
      <klarna-placement data-key="credit-promotion-small" data-purchase-amount="{{ price }}" data-preloaded="true" data-locale="en-US"></klarna-placement>
    </div>
    {%- capture product_size_guide -%}
      {%- if product.metafields.sizeguide.html -%}
        {{ product.metafields.sizeguide.html }}
      {%- elsif product.type == 'bra' or for_option == 'bra' -%}
        {% include 'content-load-template' content: pages['international-size-converter'].content %}
      {%- elsif product.type == 'panties' or product.type == 'garterbelt' or for_option == 'panties' or for_option == 'skirt' -%}
        {% include 'content-load-template' content: pages['panties-sizechart'].content %}
      {%- elsif product.type == 'harness' -%}
        {% include 'content-load-template' content: pages['sizechart-harness'].content %}
      {%- elsif product.type == 'garter' -%}
        {% include 'content-load-template' content: pages['sizechart-garters'].content %}
      {%- elsif product.type == 'cuffs' -%}
        {% include 'content-load-template' content: pages['sizechart-cuffs'].content %}
      {%- elsif product.type == 'acuffs' -%}
        {% include 'content-load-template' content: pages['sizechart-cuffs-leg'].content %}
      {%- elsif product.type == 'choker' -%}
        {% include 'content-load-template' content: pages['sizechart-collar'].content %}
      {%- elsif product.type == 'belt' -%}
        {% include 'content-load-template' content: pages['sizechart-belts'].content %}
      {%- elsif product.type == 'lbelt' -%}
        {% include 'content-load-template' content: pages['sizechart-leg-belts'].content %}
      {%- elsif product.type == 'gown' or product.type == 'bodysuit' or product.type == 'bolero' -%}
        {% include 'content-load-template' content: pages['sizechart-bodysuits'].content %}
      {%- elsif product.type == 'fullbody' -%}
        {% include 'content-load-template' content: pages['sizechart-fullbody-1'].content %}
      {%- else -%}
        {%- if section.settings.size_guide_page_content != blank -%}
          {% include 'content-load-template' content: pages[section.settings.size_guide_page_content].content %}
        {%- else -%}
          {% include 'content-load-template' content: section.settings.size_guide_content %}
        {%- endif -%}
      {%- endif -%}
    {%- endcapture -%}
    {% assign product_size_guide_length = product_size_guide | size %}
    {% capture product_tabs %}{% include 'product-info' %}{% endcapture %}
    {% include 'product-get-options' %}

    <div class="product-buttons ">
      <button class="btn btn-nofill js-size-guide {% if product_size_guide_length < 100 %}d-none{% endif %}"><span>Size guide<span class="icon icon-i-plus"></span></span></button>
      <button class="btn btn-red-nofill d-none"><span>View in 3D<span class="icon icon-i-3D"></span></span></button>
      {% if product.available == false%}
      <button class="btn btn-grey-nofill "><span>Sold out</span></button>
       <div class="btn red-button js-show-waitlist"><span>Join the waitlist </span></div>
      {% endif %}
      <button class="btn btn-red js-btn-cart {% if product.available == false%}d-none{% endif %}" data-prod-id="{{ product.id }}" data-amount="{{ inCartAmount }}" onclick="pintrk('track', 'addtocart');"><span>Add to bag {% if inCartAmount > 0 %}({{ inCartAmount }}){% endif %}</span></button>
    </div>
    {{ product_tabs }}
    <div class="product-size-guide">
      <div class="product-size-guide__box">
        <div class="product-size-guide__box-text">
          {{ product_size_guide}}
        </div>
        <div class="product-size-guide__box-close js-size-guide-close">
          <span class="icon icon-i-close"></span>
        </div>
      </div>
    </div>
  {% endform %}

</div>
<div class="cart-info">
  <div class="cart-info__count">( {{ inCartAmount }} ) pieces</div>
  <div class="cart-info__button">
    {% if inCartAmount > 0 %}
      <a href="#product-sidebar" class="cart-info__button-add js-scroll-to"  style="display: none"><span class="icon icon-i-bag"></span>Add to Bag</a>
      <a href="javascript:void(0)" class="cart-info__button-go js-header-cart" style="display: flex"><span class="icon icon-i-bag"></span>Go to Bag</a>

    {% else %}
      <a href="#product-sidebar" class="cart-info__button-add js-scroll-to"  ><span class="icon icon-i-bag"></span>Add to Bag</a>
      <a href="javascript:void(0)" class="cart-info__button-go js-header-cart" ><span class="icon icon-i-bag"></span>Go to Bag</a>
    {% endif %}
  </div>
</div>
{% unless product.available %}

<div class="waitlist-modal">
  <div class="waitlist-modal__inner">
    <div class="waitlist-modal__head">
      <div class="waitlist-modal__title">
        Join the waitlist
      </div>
      <div class="waitlist-modal__desc">
        Please enter your email and we will let you know when your item becomes available.
      </div>
    </div>
    <div class="waitlist-modal__body">
      <form action="" id="waitlistForm">
      <div class="waitlist-modal__options">
      <div class="product-option ">
        {%- unless product.has_only_default_variant -%}
          {%- assign options_type_circle_color = settings.product_options_type_circle_color | escape | downcase | split: '|' -%}
          {%- assign options_type_circle_image = settings.product_options_type_circle_image | escape | downcase | split: '|' -%}
          {%- assign options_type_square_image = settings.product_options_type_square_image | escape | downcase | split: '|' -%}
          {%- assign options_type_square_color = settings.product_options_type_square_color | escape | downcase | split: '|' -%}
          {%- assign options_type_select = settings.product_options_type_select | escape | downcase | split: '|' -%}
          {%- assign options_type_large_text = settings.product_options_type_large_text | escape | downcase | split: '|' -%}
          {%- assign options_show_title = options_show_title | default: false -%}
          {%- assign options_type = options_type | default: 1 -%}
          {% capture options_type_class %}
            {%- case options_type -%}
              {%- when 1 %}product-options--type-collection
              {%- when 2 %}product-options--type-page
              {%- when 3 %}product-options--type-footbar
            {%- endcase -%}
          {% endcapture %}
          {%- assign options_limit = 3 -%}
          {%- for option in product.options_with_values -%}

            {% assign option_with_size_gide = false %}
            {% capture size_guide_link %}
              {% unless product.handle == 'gift-card' %}
                {% if settings.hide_size_guide_types != blank %}
                  {% assign hide_for_types = settings.hide_size_guide_types | split: ',' %}
                  {% for type in hide_for_types %}
                    {% assign type_str = type | strip %}
                    {% if product.type == type_str %}
                      {% assign show_size_guide = false %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {%- if show_size_guide -%}
                  {% assign option_name_handle = option.name | handle %}
                  {% assign one_size = false %}
                  {% assign option_first_value_handle = option.values.first | handle %}
                  {% if option.values.size == 1 and option_first_value_handle == 'one-size' %}
                    {% assign one_size = true %}
                  {% endif %}
                  {% if option_name_handle == 'size' and one_size == false %}
                    {% assign option_with_size_gide = true %}
                    <span class="btn-link h6 js-popup-button size-guide-link" data-js-popup-button="size-guide">{{ 'products.product.size_guide' | t }}</span>
                  {% elsif product.type == 'complect' or product.type == 'complectt' %}
                    {% if option_name_handle == 'bra' or  option_name_handle == 'panties' or  option_name_handle == 'skirt' %}
                      {% if option.values.size > 1 %}
                        {% assign option_with_size_gide = true %}
                        <span class="btn-link h6 js-popup-button size-guide-link" data-js-popup-button="size-guide-{{ option_name_handle }}">{{ 'products.product.size_guide' | t }}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {%- endif -%}
              {% endunless %}
            {% endcapture %}
            <div class="product-option__group" >
              <div class="product-option__group-title" >{{ option.name  }}:</div>
              <div class="product-option__group-list" data-option-name="{{ option.name | handle }}" data-size-guide="{{ option_with_size_gide }}">
                <div class="checkbox-list js-checkbox-list" data-style="text" data-property="{{ option.name | handleize }}">
                  {%- for value in option.values -%}

                    {%- assign active_value = false -%}
                    {%- assign disabled_value = true -%}
                    {%- for variant in product.variants -%}
                      {%- if variant.option1 == value or variant.option2 == value or variant.option3 == value -%}
                          {%- assign disabled_value = false -%}
                          {%- break -%}
                      {% endif %}
                    {%- endfor -%}
                    {%- unless disabled_value == true -%}
                      {%- if product.options contains option.name -%}
                        {%- if current_variant.option1 == value or current_variant.option2 == value or current_variant.option3 == value -%}
                          {%- assign active_value = true -%}
                        {%- endif -%}
                      {%- endif -%}
                    {%- endunless -%}
                    {% capture trigger_attr %}{% if trigger %} data-js-trigger="{{ trigger }}-{{ clear_name }}-{{ value }}"{% elsif trigger_id %} data-js-trigger-id="{{ trigger_id }}-{{ clear_name }}-{{ value }}"{% endif %}{% endcapture %}

                    {%- if hide_options_without_availability != true or disabled_value != true -%}
                      <div class="checkbox check-lg check-other  {% if active_value %} active{% endif %}"
                           data-js-option-value
                           data-value="{{ value | handleize }}"
                              {{ trigger_attr }}
                           data-bg="none"
                           data-scale="2" >
                        <input type="radio"{% if forloop.index == 1 %} checked{% endif %} id="pop{{ option.name | handle }}{{ value }}" name="{{ option.name | handle }}" >
                        <label for="pop{{ option.name | handle }}{{ value }}"
                        >{{ value }}</label>
                      </div>
                    {%- endif -%}

                  {%- endfor -%}
                </div>
              </div>
            </div>

          {%- endfor -%}
        {%- endunless -%}
      </div>
      </div>
      <div class="waitlist-modal__form">
        <div class="form-group ">
          <input type="email" name="customer[email]" id="email" placeholder="Email">
          <div class="help-block">Please enter a valid email address.</div>
        </div>
        <div class="form-check">
          <div class="checkbox">
            <input type="checkbox" name="addEmail" id="addEmail">
            <label for="addEmail">Add me to your email list.</label>
          </div>
        </div>
        <button type="submit" class="btn red-button js-klavio-btn"><span>Join the waitlist</span></button>
        <div class="waitlist-modal__success d-none"><span class="successIcon"></span><p>You're in! We'll let you know when it's back! </p></div>
      </div>
      </form>
    </div>
    <div class="waitlist-modal__close js-close-waitlist">
      <span class="icon icon-i-close"></span>
    </div>
  </div>
</div>
<style>
  .klaviyo_modal.hide{
    z-index: -5;
  }
</style>
  <div class="klaviyo_modal hide" id="product_waitlist" style="display:none;">
    <div class="klaviyo_inner">
      <a href="#" class="klaviyo_close_modal klaviyo_header_close">×</a>
      <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="klaviyo_subscription_form">
        <input type="hidden" name="g" value="XqPC8J">
        <div class="klaviyo_fieldset">
          <p class="klaviyo_header">Interested in our Newsletter?</p>
          <p class="klaviyo_subheader">Stay in the know with news and promotions.</p>
        </div>
        <div class="klaviyo_fieldset">
          <div class="klaviyo_field_group">
            <label for="k_id_modal_$email">Email Address</label>
            <input type="email" id="k_id_modal_$email" name="email" class="klav_email">
          </div>
        </div>
        <div class="klaviyo_fine_print"></div>
        <div class="klaviyo_form_actions">
          <button type="submit" class="klaviyo_submit_button">
            <span>Subscribe</span>
          </button>
        </div>
        <div class="klaviyo_below_submit" ></div>
      </form>
      <div class="error_message" ></div>
      <div class="success_message" ></div>
    </div>
  </div>

  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script>
    let id=0;
    $( document ).on( 'click', '.js-show-waitlist', function() {
      $( '.waitlist-modal' ).addClass( 'show' );

      $( 'html' ).addClass( 'wait-no-scroll' );

      let json_str=$('.product-title').closest('[data-js-product]').attr('data-json-product');
      let json=JSON.parse(json_str);
      let size = $('[data-property=size] .checkbox.active')[0].innerText,
              set = $('[data-property=set] .checkbox.active')[0].innerText;
      $.each(json.variants, function () {
        if (this.option1 === size && this.option2 ===set){
          id=this.id;
        }
      });
    });
    $( document ).on( 'click', '.js-close-waitlist', function() {
        $( 'html' ).removeClass( 'wait-no-scroll' );
        $( '.waitlist-modal' ).removeClass( 'show' );
    });
    $( document ).click( function( e ) {
        if ( $( e.target ).closest( '.js-show-waitlist, .waitlist-modal__inner' ).length )
            return;

        $( '.waitlist-modal' ).removeClass( 'show' );
      $( 'html' ).removeClass( 'wait-no-scroll' );

      e.stopPropagation();
    });

    $(".waitlist-modal__options .checkbox").on('click',function (){
      let attr =$(this).parent($('.checkbox-list')).attr('data-property');
      $(`[data-property=${attr}] .checkbox`).removeClass('active');
      $(this).addClass('active');
      let json_str=$('.product-title').closest('[data-js-product]').attr('data-json-product');
      let json=JSON.parse(json_str);
      let size = $('[data-property=size] .checkbox.active')[0].innerText,
              set = $('[data-property=set] .checkbox.active')[0].innerText;
      $.each(json.variants, function () {
        if (this.option1 === size && this.option2 ===set){
          id=this.id;
        }
      });

    });

    $("#waitlistForm").submit(function (){
      if($('#addEmail').prop('checked')) {
        let email=$('.form-group #email').val();
        $.ajax({
          type:'POST',
          url:'https://a.klaviyo.com/onsite/components/back-in-stock/subscribe',
          data:{
            a:'PAgcrr',
            email: email,
            variant:id,
            platform:'shopify'
          },
          success:function (response){
            console.log(response)
          }

        })
        KlaviyoSubscribe.attachToModalForm('#product_waitlist',
                {
                  hide_form_on_success: false,
                  ignore_cookie: true,
                  success_message: false,

                });

        $(".klav_email").val(email);
        setTimeout(function (){
          $('.klaviyo_subscription_form').trigger('submit')
          setTimeout(function () {
            $('.klaviyo_subscription_form').trigger('reset')
          }, 500)
        }, 500)
      }
    })
</script>
{% endunless %}
<script>
  $(".count-box").on('click',function (){
    if (window.localStorage.getItem('show-klarna')) {
      let count = $(this).find('.count-field input').val();
      let price = parseInt({{ price }});
      let sum = count * price;
      $(".klarna-container > klarna-placement").attr("data-purchase_amount", sum);
      window.KlarnaOnsiteService = window.KlarnaOnsiteService || [];
      window.KlarnaOnsiteService.push({eventName: 'refresh-placements'});
    }
  });
</script>
{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "sidebar",
      "label": "Sidebar",
      "default": "off",
      "options": [
        {
          "value": "off",
          "label": "Off"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_gallery",
      "label": "Enable sticky gallery",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_sidebar",
      "label": "Enable sticky sidebar",
      "default": true
    },
    {
      "type": "header",
      "content": "Gallery"
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_btn_fullscreen",
      "label": "Show button 'Fullscreen'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "video_autoplay",
      "label": "Enable autoplay video",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": "Zoom",
      "default": true
    },
    {
      "type": "header",
      "content": "Information"
    },
    {
      "type": "checkbox",
      "id": "show_label_in_stock",
      "label": "Show label 'In stock'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_label_out_stock",
      "label": "Show label 'Out stock'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_label_sale",
      "label": "Show label 'Sale'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_label_new",
      "label": "Show label 'New'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_label_hot",
      "label": "Show label 'Hot'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collections",
      "label": "Show collections",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sale_price_separator",
      "label": "Show sale price separator",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_sale_details",
      "label": "Show sale price details",
      "default": true
      },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_barcode",
      "label": "Show barcode",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_availability",
      "label": "Show availability",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_type",
      "label": "Show type",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_reviews",
      "label": "Show reviews",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_empty_reviews",
      "label": "Hide empty reviews",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_reviews_counter",
      "label": "Hide reviews counter",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_countdown",
      "label": "Show countdown",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_stock_countdown",
      "label": "Show stock countdown",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_stock_countdown_range",
      "label": "Show range of stock countdown",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_text_countdown",
      "label": "Show text countdown",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_visitors",
      "label": "Show real time visitors",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_options",
      "label": "Show options (variants)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_quantity",
      "label": "Show quantity",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_size_guide",
      "label": "Show button 'Size guide'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_delivery_return",
      "label": "Show button 'Delivery return",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_button_add_to_cart",
      "label": "Show button 'Add to cart'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_button_add_to_wishlist",
      "label": "Show button 'Add to wish list'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_button_add_to_compare",
      "label": "Show button 'Add to compare'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_button_dynamic_checkout",
      "label": "Show dynamic checkout button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_dynamic_checkout_confirmation",
      "label": "Show dynamic checkout confirmation",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "styled_dynamic_checkout",
      "label": "Custom style for dynamic checkout button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_free_shipping",
      "label": "Show free shipping",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payments",
      "label": "Show payments",
      "default": true
    },
    {
      "type": "select",
      "id": "payments_type",
      "label": "Type",
      "default": "dark",
      "options": [
        {
          "value": "dark",
          "label": "Dark"
        },
        {
          "value": "light",
          "label": "Light"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_addthis",
      "label": "Show addthis",
      "default": true
    },
    {
      "type": "header",
      "content": "Tabs"
    },
    {
      "type": "checkbox",
      "id": "show_tabs",
      "label": "Show tabs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tab_description",
      "label": "Show tab 'Description'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tab_reviews",
      "label": "Show tab 'Reviews'",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "tab_custom_html",
      "name": "Custom html tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Custom HTML"
        },
        {
          "type": "page",
          "id": "page_content",
          "label": "Page content"
        },
        {
          "type": "html",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "tab_custom_text",
      "name": "Custom text tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Custom text"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Text content of Tab goes here!</p><p>You can make&nbsp;text <strong>bold</strong>, <em>italic</em> or add <a href=\"\/blogs\/news\" title=\"News\">link</a> using rich text editor.</p><p></p>"
        }
      ]
    },
    {
      "type": "custom_html",
      "name": "Custom HTML",
      "settings": [
        {
          "type": "page",
          "id": "page_content",
          "label": "Page content"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "products",
      "name": "Products",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "FEATURED PRODUCTS"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "range",
          "id": "max_count",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "pds",
          "label": "Max count",
          "info": "0 is infinite",
          "default": 3
        },
        {
          "type": "select",
          "id": "product_type",
          "label": "Products type",
          "default": "short",
          "options": [
            {
              "value": "short",
              "label": "Short"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
