{% include 'breadcrumbs' %}
<div class="product">
    <div class="container">
        {% section 'product-set' %}
    </div>
    {% assign blockqueue = product.metafields.product.blockqueue | split: "," %}
    {% if product.metafields.product.blockqueue %}
    {% if blockqueue[0] == 'carousel-related-products' %}
        {% section 'carousel-related-products' %}
    {% endif %}
    {% if blockqueue[0] == 'reviews-products' %}
        {% section 'reviews-products' %}
    {% endif %}
    {% if blockqueue[0] == 'why-mariemur' %}
        {% section 'why-mariemur' %}
    {% endif %}
    {% if blockqueue[0] == 'complete-the-look' %}
        <div class="container"> {% section 'complete-the-look' %} </div>
    {% endif %}

    {% if blockqueue[1] == 'carousel-related-products' %}
        {% section 'carousel-related-products' %}
    {% endif %}
    {% if blockqueue[1] == 'reviews-products' %}
        {% section 'reviews-products' %}
    {% endif %}
    {% if blockqueue[1] == 'why-mariemur' %}
        {% section 'why-mariemur' %}
    {% endif %}
    {% if blockqueue[1] == 'complete-the-look' %}
    <div class="container"> {% section 'complete-the-look' %}</div>
    {% endif %}

    {% if blockqueue[2] == 'carousel-related-products' %}
        {% section 'carousel-related-products' %}
    {% endif %}
    {% if blockqueue[2] == 'reviews-products' %}
        {% section 'reviews-products' %}
    {% endif %}
    {% if blockqueue[2] == 'why-mariemur' %}
        {% section 'why-mariemur' %}
    {% endif %}
    {% if blockqueue[2] == 'complete-the-look' %}
        <div class="container"> {% section 'complete-the-look' %}</div>
    {% endif %}

    {% if blockqueue[3] == 'carousel-related-products' %}
        {% section 'carousel-related-products' %}
    {% endif %}
    {% if blockqueue[3] == 'reviews-products' %}
        {% section 'reviews-products' %}
    {% endif %}
    {% if blockqueue[3] == 'why-mariemur' %}
        {% section 'why-mariemur' %}
    {% endif %}
    {% if blockqueue[3] == 'complete-the-look' %}
            <div class="container">  {% section 'complete-the-look' %}</div>
    {% endif %}

    {% else %}

    {% section 'carousel-related-products' %}
    {% section 'reviews-products' %}
    {% section 'why-mariemur' %}
                <div class="container">  {% section 'complete-the-look' %}</div>

    {% endif %}
</div>
<script text="text/javascript">
    var _learnq = _learnq || [];

    var item = {
        Name: {{ product.title|json }},
        ProductID: {{ product.id|json }},
        Categories: {{ product.collections|map:'title'|json }},
        ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
        URL: "{{ shop.secure_url }}{{ product.url }}",
        Brand: {{ product.vendor|json }},
        Price: {{ product.price|money|json }},
        CompareAtPrice: {{ product.compare_at_price_max|money|json }}
    };

    _learnq.push(['track', 'Viewed Product', item]);
    _learnq.push(['trackViewedItem', {
        Title: item.Name,
        ItemId: item.ProductID,
        Categories: item.Categories,
        ImageUrl: item.ImageURL,
        Url: item.URL,
        Metadata: {
            Brand: item.Brand,
            Price: item.Price,
            CompareAtPrice: item.CompareAtPrice
        }
    }]);
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "@id": {{ canonical_url | append: '#product' | json }},
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
{%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}



</script>
